/* noto-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/noto-sans-v36-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 200;
  src: url('./fonts/noto-sans-v36-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/noto-sans-v36-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/noto-sans-v36-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-sans-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/noto-sans-v36-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/noto-sans-v36-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/noto-sans-v36-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* satisfy-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/satisfy-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root {
  --black: #000000;
  --white: #FFFFFF;

  --light-paper: #fdfdfd;
  --paper: #f1f2f6;
  --dark-paper: #101010;
  --dark-light-paper: hsla(219, 52%, 12%, 0.7);
  --light-background: #e9edf4;
  --dark-background: #000000;

  --down: #abb0ba;
  --up: #fefeff;
  --down2: #abb0baf1;
  --up2: #fefeffec;

  --lightpink: #f8b1f3;
  --lightblue: #b9d1f8;
  --dark-lightpink: #ff5cf3;
  --dark-lightblue: #3facff;
  --darkblue: #033070;
  --dark-white: #fefeff;

  --lightblue-a: hsla(217, 82%, 85%, 0.3);
  --lightpink-a: hsla(304, 84%, 83%, 0.3);
  --dark-lightpink-a: hsla(304, 100%, 68%, 0.3); 
  --dark-lightblue-a: hsla(206, 100%, 62%, 0.3);


}

html {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  padding: 0;
  margin: 0;

  background-color: var(--light-background);
  color: var(--darkblue);
  font-family: 'Noto Sans';
  font-weight: 300;

  height: 100vh;


  background-attachment: scroll;
    background-image: url("./assets/blueBlur.svg"), url("./assets/pinkBlur.svg"), url("./assets/blueBlur.svg"), url("./assets/pinkBlur.svg");
    background-repeat: repeat-y, repeat-y, repeat-y, repeat-y;
    background-position: -300px -300px, -100px 0px, calc(100% + 300px) calc(100% + 300px), calc(100% + 100px) 100%;
   background-size: 800px, 600px, 800px, 600px;
}


h1{
  font-size: 30px;
}

::-webkit-scrollbar {
  width: 16px;
  border: none;

}

::-webkit-scrollbar-thumb {
  background-color: rgb(128, 151, 184);
  background-clip: padding-box;
  border: 3px solid rgba(3, 49, 114, 0);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(81, 112, 156);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(3, 48, 112, 1.0);
}
::-webkit-scrollbar-track {
  background-color: rgba(171, 176, 186, 0.25);
}
::-webkit-scrollbar-button:single-button {
  background-color: rgba(171, 176, 186, 0.25);
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}
::-webkit-scrollbar-button:single-button:hover {
  background-color: rgba(171, 176, 186, 0.5);
}
::-webkit-scrollbar-button:single-button:active {
  background-color: rgba(171, 176, 186, 0.75);
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 151, 184)'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(81, 112, 156)'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(3, 49, 112, 1.0)'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 151, 184)'><polygon points='0,0 100,0 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(81, 112, 156)'><polygon points='0,0 100,0 50,50'/></svg>");

 }
::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(3, 49, 112, 1.0)'><polygon points='0,0 100,0 50,50'/></svg>");
}




.page {
  position: relative;
  min-height: 100%;
  margin: 0px auto; 
}
.content {
  margin: 20px 10%;  
  display: grid;
  padding-bottom: 112px;
}

.space {
  height: 20px;
}

.footer {
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;

}
.foot {
  background-color: var(--paper);
  margin: 20px 20px;
  padding: 0px 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px var(--down), -1px -2px 2px var(--up), inset 0.5px 0.5px 2px var(--up2), inset -0.5px -0.5px 2px var(--down2);

  position: relative;
  width: 100%;
}
.footer a {
  float: right;
  display: block;
  color: var(--darkblue);
  text-align: center;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  

}


.handwriting {
  font-family: 'Satisfy';
  font-weight: 300;
}

.name {
  position: absolute;
  padding-left: 16px;
  padding-top: 0px;
  font-family: 'Satisfy';
  font-weight: 300;
}

.navbar {
  margin: 0px 20px;
  top: 20px;
  overflow: hidden;
  background-color: var(--paper);
  border-radius: 5px;
  padding: 0px 15px;
  box-shadow: 1px 2px 2px var(--down), -1px -2px 2px var(--up), inset 0.5px 0.5px 2px var(--up2), inset -0.5px -0.5px 2px var(--down2);
}

.navlist {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  float: right;
}
  
.navitem {
  float: left;

}
  
.navitem a {
  display: block;
  color: var(--darkblue);
  text-align: center;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}
  
.navitem a:hover {
  border-radius: 5px;
  background-color: var(--light-background);
  box-shadow: 0.5px 0.5px 2px var(--up2), -0.5px -0.5px 2px var(--down2), inset 1px 2px 2px var(--down), inset -1px -2px 2px var(--up);
}

.navlogo {
    display: flex;          
    align-items: center;    

    float: left;
    height: 100%;           
    text-decoration: none;
    font-family: 'Satisfy';
    font-size: 20px;
}

.logo-text{
  margin: 16px 16px 0px 16px;
  display: inline-block;
}



.some-blur {
  -webkit-filter: blur(25px);
  filter: blur(25px);
  fill: #cbddf7b4;
}
.some-blur-2 {
  -webkit-filter: blur(25px);
  filter: blur(25px);
  fill: #f7cbf58b;
}

.background-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.item {
 /* align-items: center;*/
 /* margin-top: max(0px, calc(50vh - 90px - (127px / 2)));*/
}

.ms {
  height: 90px;
  padding: 60px;
  filter: drop-shadow(1px 2px 2px var(--down)) blur(0.2px);
}

.me {
  height: 200px;
  margin-right: 40px;
  margin-left: -30px;
  margin-top: 30px;
}


.small-ms {
  margin: 16px 16px 16px 16px;
  fill: var(--darkblue);
  display: inline-block;
  width: auto;
  height: 22px;
 /* filter: drop-shadow(1px 2px 2px var(--down)) blur(0.2px);*/
}

.normal-button {
  width: 30%;
}

.big {
  height: 2000px;
}

.bi:hover {
  fill: var(--white);
  filter: drop-shadow( 0px 0px 2px var(--down)) drop-shadow( 0.5px 0.5px 2px var(--down)) drop-shadow( 1px 2px 2px var(--down));
}


.animated-text span {
  color:green;
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}



.animated-letter {
  display: inline-block;
  margin: 10px 0px;
  font-size: 30px;
  text-align: center;
}



.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 23px;
  margin-top: 15px;
  margin-left: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  box-shadow: 1px 2px 2px var(--down), -1px -2px 2px var(--up), inset 0.5px 0.5px 2px var(--up2), inset -0.5px -0.5px 2px var(--down2);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-img {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 4px;
  bottom: 4px;
  transition: .4s;
}

#slider-img-sun {

}

#slider-img-moon {
  right: 4px;
  left: auto;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1.5px;
  bottom: 1.5px;
  background-color:  var(--darkblue);
  -webkit-transition: .4s;
  transition: .4s;
}



input:checked + .slider {
  background-color: var(--white);
  box-shadow: 1px 2px 2px var(--dark-lightpink);
}

input:checked + .slider:before {
  background-color: var(--darkblue);
  
}



input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.no-transition, 
.no-transition *, 
.no-transition *::before, 
.no-transition *::after {
  transition: none !important;
  animation: none !important;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  animation: flyUp 8s ease-out forwards;
  z-index: -3;
}

@keyframes flyUp {
  0% {
      transform: translateY(0) scale(1);
      opacity: 0.8;
  }
  100% {
      transform: translateY(-1000px) scale(0);
      opacity: 0;
  }
}
.ms-content {
  max-width: 550px;
}

.big-text{
  font-size: 22px;
}

.marked {
  padding: 2px 6px;
  margin: 6px 3px;
  display: inline-block;
  position: relative;
  z-index: 3;
}
.marked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--lightblue), var(--lightblue-a));
    border-radius: 2px;
    transform: skew(15deg);
    opacity: 0.8;
    z-index: -1;
}

.location {
  display: inline-flex;      
  align-items: center;       
  gap: 6px;                  
}

.location-icon {
  width: 16px;               
  height: 16px;
  fill: currentColor;        
}

.projects-button {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin-top: 40px;
  border-radius: 5px;
  background-color: var(--darkblue);
  color: var(--white);
}


@media only screen and (max-width: 1024px) {
  .content {
    margin: 20px;
  }

  .navlogo {
    float: none;
    border-bottom: var(--down) 1px solid;
    position: relative;
    align-items: center;
  }

  .navlist {
    float: none;
  }
  .navitem {
    float: none;
  }

  .container {
    flex-direction: column;
  }

  .ms {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: 40px;
  }


  
  .ms-content {
    text-align: center;
    max-width: 1024px;
  }

  .handwriting {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .item {
    margin-top: 0px;
  }


  .switch {
    position: absolute;
    right: 50px;
    top: 20px;
  }
}


.tool {
    padding: 12px;
    margin: 6px 3px;
    display: inline-flex;
    position: relative;
    flex-direction: column;
    align-items: center;   
    gap: 4px;              
    z-index: 3;
    
}
/*
.tool::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--lightblue);
    border-radius: 2px;
    transform: skew(-15deg);
    z-index: -1;

    
    opacity: 0.4;
}*/

.tech-circle {
    background-color: #ffffffcc;
    padding: 5px;
    border-radius: 50%; 
    height: 30px;
    width: 30px;
    
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.tech-logo {
    width: 90%;       
    height: 90%;
    object-fit: contain; 
}

.social {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  color: var(--darkblue)
}

.h-tech {
  font-size: 14px;
}

/* Darkmode  */
body.dark-mode {
  background-color: var(--dark-background);
  color: var(--dark-white);

  background-image: url("./assets/blueBlurDark.svg"), url("./assets/pinkBlurDark.svg"), url("./assets/blueBlurDark.svg"), url("./assets/pinkBlurDark.svg");
  background-repeat: repeat-y, repeat-y, repeat-y, repeat-y;
  background-position: -300px -300px, -100px 0px, calc(100% + 300px) calc(100% + 300px), calc(100% + 100px) 100%;
  background-size: 800px, 600px, 800px, 600px;
}

body.dark-mode .navbar {
  background-color: var(--dark-paper);
  box-shadow: 1px 2px 2px var(--dark-lightpink), -1px -2px 2px var(--dark-lightblue), inset 0.5px 0.5px 2px var(--dark-lightblue), inset -0.5px -0.5px 2px var(--dark-lightpink);

}
 
body.dark-mode .foot {
  background-color: var(--dark-paper);
  box-shadow: 1px 2px 2px var(--dark-lightpink), -1px -2px 2px var(--dark-lightblue), inset 0.5px 0.5px 2px var(--dark-lightblue), inset -0.5px -0.5px 2px var(--dark-lightpink);
}

body.dark-mode .navitem a {
  color: var(--dark-white);
}

body.dark-mode .bi{

  fill: var(--dark-white);
}
body.dark-mode .bi:hover{
  
  fill: var(--black);
}

body.dark-mode .navitem a:hover {
  border-radius: 5px;
  background-color: var(--dark-background);
  box-shadow: 0.5px 0.5px 2px var(--dark-lightblue), -0.5px -0.5px 2px var(--dark-lightpink), inset 1px 2px 2px var(--dark-lightpink), inset -1px -2px 2px var(--dark-lightblue);
}

body.dark-mode .ms {
  filter: drop-shadow(1px 2px 2px var(--dark-lightpink)) blur(0.2px);
}

body.dark-mode .small-ms {
  /*filter: drop-shadow(1px 2px 2px var(--dark-lightpink)) blur(0.2px);*/
  fill: var(--white);
}

body.dark-mode a {
  color: var(--lightblue);
}

body.dark-mode .marked::before {
    background: linear-gradient(135deg, var(--dark-lightblue), var(--dark-lightblue-a));
}

/*
body.dark-mode .tool::before {
    background: var(--dark-lightblue);
}*/

body.dark-mode .social {
  color: var(--dark-white)
}


body.dark-mode .projects-button {
  background-color: #ffffffcc;
  color: var(--dark-background);
}