.design-container {
    display: flex;
    /*width: 90vw;*/
    flex-wrap: wrap;
    gap: 40px;
}

.design-item {
    /*margin: 20px;*/
    padding: 30px;
    flex-grow: 4;
  background-color: #fdfdfd;
  box-shadow: 1px 2px 4px var(--down);
  text-align: center;

}

img {
    height: 200px;
    box-shadow: 1px 2px 4px var(--down);


    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.pad {
    padding: 10px;
}


@media only screen and (max-width: 1024px) {

    img {
        max-width: 90%;
        height: auto;
        width: auto;
        max-height: 400px;
    }

    .design-container {
        gap: 20px;
    }
    
    .design-item {

        padding: 10px;
        flex-grow: 1;    
    }
  }