.programming-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
}

.programming-item {
    padding: 30px;
    background-color: var(--light-paper);
    box-shadow: 1px 2px 4px var(--down);
}

.programming-item p {
    margin: 3px;
}

.image-container {
    position: relative;
}

.image {
    width: calc(100% - 20px);
    box-shadow: 1px 2px 4px var(--down);
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.small-image {
    height: 50%;
    width: auto;
    right: -20px;
    bottom: -40px;
    position: absolute;
    padding: 5px;
}

.info {
    text-align: left;
    width: 60%;
}

.group-single {
    font-size: 14px;
    padding: 2px 6px;
    margin: 6px 3px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.group-single::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--lightblue), var(--lightblue-a));
    border-radius: 2px;
    transform: skew(15deg);
    opacity: 0.8;
    z-index: -1;
}

.tools {
    font-size: 14px;
    padding: 2px 6px;
    margin: 6px 3px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.tools::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--lightpink), var(--lightpink-a));
    border-radius: 2px;
    transform: skew(15deg);
    opacity: 0.8;
    z-index: -1;
}

.links {
    text-align: right; 
    direction: rtl;
    margin-top: 10px;
}

.link-item {
    background-color: var(--darkblue);
    font-size: 14px;
    padding: 5px 8px;
    display: inline-block;  
    z-index: 1;
    position: relative;
    margin: 0px;
    border-radius: 10px;
}

.link-item a{
    color: white;
    text-decoration: none;
}

.link-item .bi:hover {
    fill: var(--white);
    filter: none;
  }

.link-item a:hover {
  /*  filter: drop-shadow( 0px 0px 2px var(--down)) drop-shadow( 0.5px 0.5px 2px var(--down)) drop-shadow( 1px 2px 2px var(--down));
*/
}



.spinning {
    display: inline-block;
    position: relative;
    overflow: hidden;
    right: 0;
    border-radius: 14px;
  }
  
  .spinning::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 300%;
    
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        hsla(215, 94%, 31%, 0.5) 25%,
        hsla(215, 95%, 23%, 0.90) 50%,
        hsla(215, 94%, 20%, 0.6)  75%,
        rgba(255, 255, 255, 0) 100%
    );
    animation: borderSpin 5s linear infinite;
    transform: translate(0);
    top: -100%;
    left: 0%;
    z-index: 0;
    transform-origin: center center;

  }
  
  @keyframes borderSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  #tryhackme {
    border: none;
    width: 100%;
  }




  
@media (max-width: 1024px) {
    .programming-container {
        grid-template-columns: 1fr; 
    }

}


/* Darkmode */
body.dark-mode .programming-item {
    background-color: var(--dark-light-paper);
    box-shadow: 1px 2px 4px var(--dark-lightpink);
}

body.dark-mode .image  {
    box-shadow: 1px 2px 4px var(--dark-lightblue);
    background-color: var(--black);
}

body.dark-mode .group-single::before {
    background: linear-gradient(135deg, var(--dark-lightblue), var(--dark-lightblue-a));
}

body.dark-mode .tools::before {
    background: linear-gradient(135deg, var(--dark-lightpink), var(--dark-lightpink-a));
}

body.dark-mode .link-item .bi:hover {
    fill: var(--white);
}