.programming-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
}

.programming-item {
    padding: 30px;
    background-color: #fdfdfd;
    box-shadow: 1px 2px 4px var(--down);
}

.programming-item p {
    max-width: 30vw;
    /*margin: 16px auto;*/
    margin: 3px;
}

.image-container {
    position: relative;
}

img {
    width: calc(100% - 20px);
    box-shadow: 1px 2px 4px var(--down);
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.small-image {
    height: 50%;
    width: auto;
    right: -20px;
    bottom: -40px;
    /*width: calc(40% - 20px);
    margin-top: -10%;
    margin-left: calc(60% + 25px);
    position:relative;*/
    position: absolute;
    padding: 5px;
}

.info {
    text-align: left;
    width: 60%;
}

.group-single {
    background-color: var(--lightblue);
    font-size: 14px;
    padding: 3px 6px;
    margin: 3px;
    display: inline-block;
    border-radius: 10px;
}
.tools {
    background-color: var(--lightpink);
    font-size: 14px;
    padding: 3px 6px;
    margin: 3px;
    display: inline-block;
    border-radius: 10px;
}

.links {
    text-align: right;
}

.link-item {
    background-color: var(--darkblue);
    font-size: 14px;
    padding: 3px 6px;
    margin: 3px;
    display: inline-block;
    border-radius: 10px;
}

.link-item a{
    color: white;
    text-decoration: none;

}

.link-item .bi:hover {
    fill: var(--color0);
    filter: none;
  }

.link-item a:hover {
    filter: drop-shadow( 0px 0px 2px var(--down)) drop-shadow( 0.5px 0.5px 2px var(--down)) drop-shadow( 1px 2px 2px var(--down));

}


@media (max-width: 1024px) {
    .programming-container {
        grid-template-columns: 1fr; 
    }
}